services:
  frontend:
    build:
      context: ./app/frontend
    image: devsolutions-frontend:v1
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./app/backend
    image: devsolutions-backend:v1
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=devdb
      - DB_USER=root
      - DB_PASSWORD=rootpassword
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: devdb
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
